:javascript
    $(document).ready(function () {
        Sparkl.initialize({ data: #{@sparks.to_json} });
    })
#wrapper.container
    .row-fluid
        #grid-1.span4.grid
        #grid-2.span4.grid
        #grid-3.span4.grid
    .row-fluid
        #grid-4.span4.grid
        #grid-5.span4.grid
        #grid-6.span4.grid
    .row-fluid
        #grid-7.span4.grid
        #grid-8.span4.grid
        #grid-9.span4.grid
= render :partial => "/sparks/spark"
