<%= javascript_tag do %>
    Sparkl.initialize({ data: <%== @sparks.to_json %> });
<% end %>
<div id="wrapper" class="container">
    <div class="row-fluid">
        <div id="grid-1" class="span4 grid">

        </div>
        <div id="grid-2" class="span4 grid">

        </div>
        <div id="grid-3" class="span4 grid">

        </div>
    </div>
    <div class="row-fluid">
        <div id="grid-4" class="span4 grid">

        </div>
        <div id="grid-5" class="span4 grid">

        </div>
        <div id="grid-6" class="span4 grid">

        </div>
    </div>
    <div class="row-fluid">
        <div id="grid-7" class="span4 grid">

        </div>
        <div id="grid-8" class="span4 grid">

        </div>
        <div id="grid-9" class="span4 grid">

        </div>
    </div>        
</div>
